{% extends "templates/web.html" %}

{% block page_content %}
<h1>Работа с метаданными OData</h1>
<p>На этой странице можно получить метаданные выбранной конфигурации интеграции, а также создать входящий интеграционный поток.</p>

<!-- Кнопки для получения данных -->
<div>
    <p><strong>Получение списка доступных сущностей:</strong></p>
    <button id="fetch_entity_types">Получить список EntityType</button>
    <button id="fetch_entity_sets">Получить список EntitySet</button>
</div>
<hr />
<!-- Поле для ввода EntityType и кнопка получения свойств -->
<div>
    <p><strong>Получение свойств для конкретной сущности EntityType:</strong></p>
	<button id="fetch_properties">Получить свойства EntityType</button>
    <input type="text" id="entity_type" placeholder="Введите EntityType">
</div>
<hr />
<!-- Поле для создания интеграционного потока -->
<div>
	<p><strong>Настройка интеграционного потока для EntityType:</strong></p>
	<button id="setup_integration_flow">Настроить для EntityType</button>
    <input type="text" id="integration_entity_type" placeholder="Введите EntityType">
</div>
<hr />
<!-- Блок отображения сообщений и результатов -->
<div id="message_area"></div>
<div id="result"></div>

<script src="{{ '/assets/integration_hub/js/metadata.js' }}"></script>
{% endblock %}
